#logo{
    margin-right:10px;
}

.nav-item{
    margin-left:10px;
}

.nav-item:hover{
    opacity:80%;
    cursor:pointer;
}

@media screen and (min-width: 990px) {
    #navbarNav{
        flex:auto;
        display: flex;
        justify-content: flex-end;
    }

    #create-button{
        border-radius:0px;
    }
    
    #blogs-button{
        border-radius:0px;
    }
}


.navbar{
    background-color:rgb(228, 229, 234);
}


#create-button{
    background-color: #b28787;
    border-radius: 15px;
}

#blogs-button{
    background-color: #699080;
    border-radius: 15px;
}


/* Animation */
@keyframes tiltAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-15deg); /* Tilt left */
    }
    100% {
      transform: rotate(15deg); /* Tilt right */
    }
  }

/* Only apply animation if they do NOT prefer less motion */
@media not (prefers-reduced-motion: reduce){
    #logo {
        animation: tiltAnimation 3s 1 forwards; /* Play the animation once */
    }
}