<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Documentation for API</h1>
    <h2>Posts:</h2>
    <ul>
        <li>GET    - /api/posts - Retrieves all posts</li>
        <li>GET    - /api/posts/:id - Retrieves posts by Id</li>
        <li>POST   - /api/posts/ - Creates a new post</li>
        <li>PUT    - /api/posts/:id - Updates an existing post</li>
        <li>DELETE - /api/posts/:id - Deletes a post</li>
    </ul>
</body>
</html>